nav {
  /* width: 60%; */
  background: white;
  padding: 8px 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
}

.ctr-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
}

.label--select {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 10px;
}

select {
  padding: 4px;
}

.select--primary {
  margin: 0;
}

.btn {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.75rem;
  background-color: rgb(136, 27, 136);
  color: white;
  border: 2px solid rgb(136, 27, 136)
}

.btn:hover, .btn:active {
  background-color: rgb(141, 44, 141);
}
