/* @keyframes spinner {
  0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
       transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spinner {
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity linear 0.1s;
  position: relative;
}

.spinner::before {
  content: '';
  top: 50%;
  left: 50%;
  position: absolute;
  border: solid 3px #eee;
  border-bottom-color: #ef6565;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  will-change: transform;
  opacity: inherit;
  animation: 2s linear infinite spinner;
} */
.spinner {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #e1801a;
  background: -moz-linear-gradient(left, #e1801a 10%, rgba(166,99,26, 0) 42%);
  background: -webkit-linear-gradient(left, #e1801a 10%, rgba(166,99,26, 0) 42%);
  background: -o-linear-gradient(left, #e1801a 10%, rgba(166,99,26, 0) 42%);
  background: -ms-linear-gradient(left, #e1801a 10%, rgba(166,99,26, 0) 42%);
  background: linear-gradient(to right, #e1801a 10%, rgba(166,99,26, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before {
  width: 50%;
  height: 50%;
  background: #e1801a;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.spinner:after {
  background: #81ca68;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
